html, body {
    margin: 0;
    padding: 0;
  }
  
  #wrap {
    min-height: 11vh;
    position: relative;
    width: 100%; 
    top:-16.4px;
  }
  
  section {
    padding-bottom: 105px;
  }
