/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 요소에 폰트 적용 */
* {
  font-family: 'GmarketSansMedium';
}
/* 상단 이동 버튼 */
#upBtnArea{
  top: 88%;
  left: 92%;
  position: fixed;
}
/* 상단 이동 버튼 */
#back-to-top {
  display: inline-block;
  background-color: transparent !important;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 25px !important;
  right: 35px !important;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: visible;
  z-index: 99999999;
}
.show {
  opacity: 1 !important;
  visibility: visible !important;
}

#content {
  padding: 0 20%;
}

/* 일반적인 div 요소 스타일 */
#snb_zone{
  width: 92%;
  padding: 0;
  margin-left: 1.5%;
}

#snb_zone ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  color: gray;
  font-size: 20px;
  padding: 1% 2.5% 0 0;
  height: 100%;
}


#snb_zone ul {
  width: 100%;
  position: relative;
  padding: 0;
  border-bottom: 1px solid black;
}

#snb_zone ul li a {
  display: flex;
}


#check_snb {
  border-bottom: 3px solid black;
}

/* 카테고리 */
#point_zone{
  width: 92%;
  padding-left: 0;
  margin-left: 1.5%;
  border-bottom: 1px solid black;
}

#category {
  margin: 1%;
  margin-left: 0;
}

#category a {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 0.5% 1% 0.5% 1%;
  margin: auto;
}

#allCategory {
  border-radius: 8px;
  color: #e6e6e6;
  background-color: #464D0F;
}

/* cardList */
.board_list_card{
  display: block;
  list-style: none;
  padding-left: 16px;
  width: 92%;
  font-size: 13px;
  font-weight: 500;
}

.card_list{
  padding: 16px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeef;
}

.board_list_card a{
  text-decoration: none;
  color: black;
}

.board_list_card .card_area{
  display: table;
}


.card_area{
  display: table;
  width: 100%;
  position : relative;
}

.board_list_card .con{
  display: table-cell;
  position: relative;
}

/* 제목 */
.board_list_card .title_area{
  display: table;
  width: 30%;
  table-layout: fixed;
  font-size: 16px;
}

.board_list_card .title_area .title{
  display: flex;
  align-items: center; 
}
.board_list_card .title_area .title .inner{
  flex: 0 1 auto; 
  white-space: nowrap; /* 넘칠 경우 줄바꿈 방지 */
  overflow: hidden; /* 넘칠 경우 내용을 숨김 */
  text-overflow: ellipsis; /* 넘칠 경우 ...으로 표시 */
  max-width: 400%; 
  min-width: 40px; 
}

.board_list_card .board_category{
  flex-shrink: 0;
  margin-left: 10px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  background-color: #464D0F;
  color: #fff;
  padding: 3px 10px 2px 10px; /* 버튼 사이즈 조정 */
}

/* 내용물 */
.board_list_card .txt {
  max-height: 44px; 
  margin-top: 6px; 
  font-size: 14px; 
  line-height: 22px;
  display: -webkit-box; /* 웹킷 브라우저에서의 표시 방식 설정 */
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-line-clamp: 2; /* 표시할 최대 줄 수를 2로 설정 */
  -webkit-box-orient: vertical; 
  word-wrap: break-word; /* 넘치는 단어를 줄 바꿈하여 표시 */
  word-break: break-word; /* 단어 내 줄 바꿈을 가능하게 함 */
  color: #666; 
}


/* card bottom */
.board_list_card .con_bottom{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  padding-top: 35px;
}

/* 닉네임 설정 */
.board_list_card .user_info{
  overflow: hidden;
}

.board_list_card .user_info .user_nick_area{
  float: left;
}

.board_list_card .user_info .user_nick_area > table{
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
  

  tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
}

.board_list_card .user_info .user_nick_area .p-nick{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 게시글 정보 */
.user_info .date_num {
  float: left;
  color: #999;
}

.user_info .date_num::before{
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 5px 4px 7px;
  border-radius: 2px;
  background-color: #999;
}
.user_info .date{
  margin-right: 16px;
}

/* 좋아요 영역 */
.board_list_card .like_area{
  display: inline-block;
  padding: 0 0 0 7px;
}

.board_list_card .like_area .comment_area{
  display: inline-block;
  margin-right: 5px;
}

.board_list_card .like_area .comment_area .c_comment_list{
  display: inline-block;
  vertical-align: middle;
}

.board_list_card .like_area .comment_area .c_comment_list .comment_ico{
  margin-top: 2px;
  width: 13px;
  height: 10px;
}

.board_list_card .like_area .u_like_list_module{
  display: inline-block;
  vertical-align: middle;
}

.board_list_card .like_area .u_like_list_module .u_icon{
  margin-top: 2px;
  width: 13px;
  height: 10px;
}

.board_list_card .like_area .u_like_list_module .u_cnt{
  color: #222;
}

.board_list_card .like_area .comment_area .num{
  color: #222;
}

/* 이미지 */
.card_area .movie_img{
  display: table-cell;
  position: relative;
  width: 120px;
  height: 120px;
  padding-left: 35px;
  vertical-align: top;
}

.card_area .movie_img a ::before{
  display: block;
  position: relative;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.05);
}

/* 페이징 css */
#pagenation {
  text-align: center;
  padding: 0 2% 0 0;
}

#pagenation ul {
  padding: 0;
  align-items: center;
}

#pagenation ul li {
  margin-right: 2%;
  display: inline-block;
  list-style: none;
}

#pagenation ul li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
  margin: 2px;
}

#pagenation ul li a:hover {
  background-color: #464D0F;
  color: #e6e6e6;
}